<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <!-- <% if(false){%>
            <div>ejs working</div>
        <% } else {%>
            <div>ejs not working</div>
            <%}%>
        <div>ejs template</div> -->
        <%= data %>
        <% include ./layout/navbar.ejs %>
    </body>
</html>